{% extends 'new_main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<h1>Contact Info</h1>
<p>map goes here potentially</p>
<p>phone number:</p>
<p>email address:</p>
<p>hours</p>
<ul class="wrapper">
  <li class="icon facebook">
    <span class="tooltip">Facebook</span>
    <span><i class="fab fa-facebook-f"></i></span>
  </li>
  <li class="icon twitter">
    <span class="tooltip">Twitter</span>
    <span><i class="fab fa-twitter"></i></span>
  </li>
  <li class="icon instagram">
    <span class="tooltip">Instagram</span>
    <span><i class="fab fa-instagram"></i></span>
  </li>
  <li class="icon github">
    <span class="tooltip">Github</span>
    <span><i class="fab fa-github"></i></span>
  </li>

</ul>
{% endblock %}
